:root {
    /* Cores */
    --roxo: #986dff;
    --preto: #111111;
    --cinza-escuro: #151515;
    --branco: #ffffff;
    --cinza: #9ca39d;
    /* Tamanhos de fonte */
    --fs-pequeno: 1rem;
    --fs-medio: 1.5rem;
    --fs-grande: 2rem;
}
body {
    background-color: var(--cinza-escuro);
    font-family: 'Raleway', sans-serif;
    color: var(--cinza);
}
.sobre, footer {
    background-color: var(--preto);
}

/* Header */
header {
    background-color: var(--preto);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: var(--fs-medio);
}
header button {
    background: transparent;
    border: none;
    cursor: pointer;
}
li {
    color: var(--cinza);
    list-style: none;
    display: inline;
    margin: 0.5rem;
}
a {
    color: var(--cinza);
    text-decoration: none;
}
a:hover {
    color: var(--roxo);
    border-bottom: 1px solid var(--roxo);
}

/* Sobre */
.parent {
    font-size: var(--fs-medio);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}
.div1 { 
    display: flex;
    justify-content: center;
    grid-area: 1 / 1 / 5 / 2; 
}
.div2 { grid-area: 1 / 2 / 4 / 6; }
.div3 { grid-area: 4 / 2 / 5 / 6; } 
.div3 button{
    display: flex;
    cursor: pointer;
    background: none;
    color: var(--cinza);
    border: none;
    border-bottom: 1px solid var(--roxo);
}
.div3 img {
    padding: .5rem;
    padding-left: 0;
}
